# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/
env/

# Environment & Secrets
.env
.env.*
!.env.example
*.env
*.env.local

# Build outputs
dist/
build/
.next/
out/

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.iml
.metadata
